.w-450 {
    width: 450px;
}

.vh-100 {
    min-height: 100vh;
}

body {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url("../../images/icons/login-signup-bg.svg"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}