* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.regularButton {
    display: inline-block;
    width: 100%;
    height: 8rem;
    background: rgb(41, 41, 248);
    border-radius: 6px;
    color: #f2f2fe;
    margin-bottom: 0.5rem;
    border: none;
}

.seniorButton {
    display: inline-block;
    width: 100%;
    height: 8rem;
    background: rgb(15, 117, 15);
    border-radius: 6px;
    color: #f2f2fe;
    border: none;
    margin-bottom: 0.5rem;

}

.regularButton:hover,
.seniorButton:hover {
    opacity: 0.9;
}

/* Queueing section start */
.queuingBox {
    height: 25.5rem;
    background: rgb(178, 221, 247);
    border-radius: 6px;
    color: #00461b;
    text-align: center;
}

.queueMainTitleStyle {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1.5rem;
}

.queueNumeralStyle {
    font-size: 10rem;
    font-weight: 500;
}

.queueFooterStyle {
    font-weight: bold;
    margin-top: 1rem;
}
/* Queueing section end */

/* Counter section start */
.counterBox {
    height: 6rem;
    line-height: 6rem;
    background: rgb(208, 243, 201);
    border-radius: 6px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.counterMainTitleStyle {
    font-size: 2rem;
    font-weight: bold;
}
/* Counter section end */

/* Serving section start */
.servingBox {
    height: 16rem;
    background: rgb(255, 232, 181);
    border-radius: 6px;
    color: rgb(145, 53, 41);
    text-align: center;
    margin-bottom: 3.5rem;
}

.servingMainTitleStyle {
    padding-top: 1.1rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.servingNumeralStyle {
    font-size: 6rem;
    font-weight: 500;
}

.counterSubTitleStyle {
    font-weight: bold;
}
/* Serving section end */

.nextButton,
.serveButton {
    display: inline-block;
    width: 100%;
    height: 5rem;
    border-radius: 6px;
    border: 0.1rem solid rgb(109, 109, 109);
    margin-bottom: 1rem;
}

.nextButton:hover,
.serveButton:hover {
    background: #a19f9f;
    border: none;
}