body {
  background-image: linear-gradient(90deg, #6a82fb, #ffa3b6);
  /* height: 100vh; */
}

#editButton {
  background-color: #6a82fb;
  color: white;
  border-radius: 4px;
  padding: 2px 18px;
  margin-right: 2px;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
}

#deleteButton {
  background-color: red;
  color: white;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 4px;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
}

/* #actionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
} */